<div class="container">
    <h1>{{ estadio.nombre }}</h1>
    <div class="main-content">
        <img width="300px" [src]="estadio.urlImagen" [alt]="estadio.nombre">
        <div class="info-container">
            <h4>Dirección: </h4>
            <label>{{ estadio.direccion }}</label>
        </div>
        <div class="info-container">
            <div>
                <h2>Información</h2>
                <label>El Camp Nou, denominado actualmente Spotify Camp Nou por motivos de patrocinio,12​ es un recinto deportivo propiedad del Fútbol Club Barcelona, ubicado en el distrito de Les Corts de la ciudad de Barcelona, España. Se inauguró el 24 de septiembre de 1957. Con un aforo de 99 354, es el estadio con mayor capacidad de Europa y el tercero a nivel mundial. La reforma que se está llevando a cabo aumentará previsiblemente el aforo hasta los 105 000.13​

                    Actualmente está cerrado debido a una remodelación del estadio.14​
                    
                    La capacidad del estadio ha variado desde su aforo inicial de alrededor de noventa mil localidades, a su máximo aforo de ciento veinte mil espectadores, con la construcción con motivo del Mundial de España 1982, de la tercera gradería.15​ Su aforo actual desde 1998 está por debajo de los cien mil espectadores, tras implantar las localidades de asiento para todo el estadio y ser catalogado por la UEFA con la máxima distinción, «estadio de élite».</label>
            </div>
            <div>
                <h2>Historia</h2>
                <label>La necesidad de construir un nuevo estadio surgió a principios de los años 1950, con la eclosión de la difusión del fútbol en España y la llegada al club en 1951 de Ladislao Kubala.18​ Pese a que el antiguo Camp de Les Corts contaba con 60 000 localidades, se quiso construir otro con una capacidad de alrededor de 90 000 espectadores, que diera cabida a los miles de aficionados que querían asistir para ver en directo los partidos del conjunto culé y convertir el nuevo estadio en uno de los más grandes y majestuosos del mundo.</label>
            </div>
        </div>
    </div>
</div>
