<h1>{{estadio.nombre}}</h1>
<div class="info-container">
    <img width="300px" [src]="estadio.urlImagen" [alt]="estadio.nombre">
    <div class="direccion-container">
        <div>
            <h4>Dirección: </h4>
            <label>{{ estadio.direccion }}</label>
        </div>
    </div>
    <div class="info-container">
        <div>
            <h2>Información</h2>
            <label>El Estadio Metropolitano, conocido actualmente como Estadio Cívitas Metropolitano por motivos de patrocinio, es un recinto deportivo propiedad del Club Atlético de Madrid, situado en el barrio de Rosas, distrito de San Blas-Canillejas, en Madrid, España.

                El estadio tiene un aforo de 70 460 espectadores. Su graderío está dividido en tres niveles y forma tres anillos continuos a excepción de la grada alta del lateral oeste.5​ Se inauguró como estadio propiedad del Club Atlético de Madrid el 16 de septiembre de 2017 con la disputa del partido Atlético-Málaga (1-0), correspondiente a la jornada 4 del Campeonato Nacional de Liga, tras la reforma y ampliación acometida entre 2011 y 2017.</label>
        </div>
        <div>
            <h2>Historia</h2>
            <label>Originariamente, este recinto deportivo se inauguró el 6 de septiembre de 1994 como estadio de atletismo, impulsado por la Comunidad de Madrid. Se conoció popularmente como La Peineta debido a la apariencia de su tribuna principal.7​ En 2002, su titularidad se transfirió al Ayuntamiento de Madrid.8​ Formó parte de las candidaturas olímpicas de 2012, 2016 y 2020 de la ciudad de Madrid.9​ Finalmente, el consistorio suscribió un convenio patrimonial con el Club Atlético de Madrid en 2008 por el cual se traspasaba la propiedad del recinto al club rojiblanco, tras el proyecto de reforma.10​11​

                Hasta la temporada 2021-22, el estadio llevaba el nombre comercial de Wanda Metropolitano, por el patrocinador inicial de dicho recinto, la empresa Wanda Group. A partir del 19 de julio de 2022, se cambió el nombre del estadio a Cívitas Metropolitano debido a la alianza entre el equipo colchonero y el mencionado club de empresas, según se dice en su página oficial.</label>
        </div>
    </div>
</div>
