<h1>Añadir estadio</h1>
<div>
    <h4>Id:</h4>
    <input type="number" [(ngModel)]="id">
</div>
<div>
    <h4>Nombre:</h4>
    <input type="text" [(ngModel)]="nombre">
</div>
<div>
    <h4>Dirección:</h4>
    <input type="text" [(ngModel)]="direccion">
</div>
<div>
    <h4>URL Imagen:</h4>
    <input type="text" [(ngModel)]="urlImagen">
</div>
<div>
    <h4>Información:</h4>
    <input type="text" [(ngModel)]="informacion">
</div>
<div>
    <h4>Historia:</h4>
    <input type="text" [(ngModel)]="historia">
</div>
<div class="button-container">
    <button (click)="anyadirEstadio()">Añadir</button>
</div>
